@model ProductsListViewModel;
@{
}
@section Styles
    {
    <!-- Bootstrap CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="/examples/vendors/fontawesome-5/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
    <link href="~/css/ProductListStyles.css" rel="stylesheet"/>
}

<div class="row  row-cols-1 row-cols-sm-2  row-cols-lg-4 m-0 p-0 px-3">

    @foreach (var cat in Model.products)
    {
       
        <div class="col p-5 ">
            <div class="card " >
                <a asp-action="Details" asp-controller="Products" asp-route-id=@cat.Id style="color:black">
                    <img class="card-img-top" src="data:image;base64,@Convert.ToBase64String(cat.Image)" alt="Card image cap">
                    </a>
                <div class="card-body">
                    <a class="stretched-link text-dark"  asp-action="Details" asp-controller="Products" asp-route-id=@cat.Id >
                        <h5 class="card-title"  style="font-size:1.6em">@cat.Name</h5>
                        </a>
                        <p class="card-text text-secondary"><i class="fas fa-comment"></i> @cat.CountOfComments Коментариев</p>
                        <p class="m-0 p-0" style="font-size:1.5em"><b>@cat.Price &#8381;</b></p>
                        <input type="hidden" class="addInfo" data-ProductId="@cat.Id" />
                        <a role="button" class="addProduct btn stretched-link btn-danger text-white btn-icon">
                            <span class="icon mr-3"><i class="fas fa-shopping-cart"></i></span>В корзину
                        </a>
</div>
            </div>
        </div>

     }

        </div>
@section Scripts{ 
<script src="~/js/AddProduct.js"></script>
}