@model IEnumerable<CategoryViewModel>;
@{
}
@section Styles
    {
    <!-- Bootstrap CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
     
 <link rel="stylesheet" type="text/css" href="~/css/CategoriesStyles.css" />
 
    
    
    
}
<div class="foo mb-5">
    <span class="letter" data-letter="К">К</span>
    <span class="letter" data-letter="А">А</span>
    <span class="letter" data-letter="Т">Т</span>
    <span class="letter" data-letter="А">А</span>
    <span class="letter" data-letter="Л">Л</span>
    <span class="letter" data-letter="О">О</span>
    <span class="letter" data-letter="Г">Г</span>  
</div>

<div class="row  row-cols-1 row-cols-md-2  row-cols-lg-4 m-0 p-0 px-3 ">

    @foreach (var cat in Model)
    {
        <div class="col mb-4 mt-4 mt-md-0  ">        
            <a asp-action="Index" asp-controller="Subcategories" asp-route-categoryId="@cat.Id">
                <figure class="figure">
                    @if(cat.Discount!=null){
                      <div class="discount  text-white rounded border border-white">@cat.Discount %</div>
                    }
                    <div class="img_wrap">
                        <img src="data:image;base64,@Convert.ToBase64String(cat.Image)" class="figure-img img-fluid rounded w-100" alt="Сопроводительная надпись для изображения.">

                    </div>
                    <figcaption class="figure-caption text-center mt-2">@cat.Name</figcaption>
                </figure>
            </a>

        </div>

    }

</div>